*.a
*.coverage*
*.egg
*.egg-info
*.o
*.pyo
*.pyc
*__pycache__*
*.so
*.sqlite
.*.swp
.coverage
.installed.cfg
.stestr
.testrepository
.tox
.vscode
AUTHORS
ChangeLog
_build
build
cover
develop-eggs
dist
eggs
sdist

.env
.venv
env
venv

# Sphinx documentation
doc/build

# Release Notes documentation
releasenotes/build

# Api Ref documentation
api-ref/build/
