Source: cgcs-patch
Section: admin
Priority: optional
Maintainer: StarlingX Developers <StarlingX-discuss@lists.StarlingX.io>
Build-Depends: debhelper-compat (= 13), dh-python, python3-setuptools, python3-all
Build-Depends-Indep: python3-keystonemiddleware,
 python3-oslo.config,
 python3-pecan,
 python3-pycryptodome,
 python3-lxml,
 python3-requests-toolbelt,
 python3-mock,
 python3-stestr,
 python3-testtools,
 python3-six,
 tsconfig
Standards-Version: 4.4.1

Package: cgcs-patch
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-cgcs-patch
Description: Starlingx platform patching
 Starlingx platform patching system

Package: cgcs-patch-controller
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-cgcs-patch, cgcs-patch
Description: Starlingx platform patching
 Starlingx platform patching system

Package: cgcs-patch-agent
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-cgcs-patch, cgcs-patch
Description: Starlingx platform patching
 Starlingx platform patching system

Package: python3-cgcs-patch
Architecture: all
Depends: ${python3:Depends},
 ${misc:Depends},
 python3-keystonemiddleware,
 python3-oslo.config,
 python3-pecan,
 python3-pycryptodome,
 python3-lxml,
 python3-requests-toolbelt,
 python3-six,
 tsconfig
Description: Starlingx platfom patching (python3)
 Starlingx platform patching system python libraries
