[Unit]
Description=Unified Software Management
After=syslog.target network-online.target
Before=software-agent.service

[Service]
Type=oneshot
User=root
ExecStart=/etc/init.d/software start
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console

# cgroup performance engineering
# - software.service does not provide latency critical service
# - several processes are 100% cpu hog, and/or use significant disk IO
#   (eg, /usr/bin/software-agent, ostree, etc)
# - set 1/8th default share
# - set lower IO priority (effective only with 'bfq' scheduler)
CPUShares=128
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target
