[Unit]
Description=Unified Software Management Controller Daemon
After=syslog.target network-online.target software.service software-controller.service
Before=pmon.service

[Service]
Type=forking
User=root
ExecStart=/etc/init.d/software-controller-daemon start
ExecStop=/etc/init.d/software-controller-daemon stop
ExecReload=/etc/init.d/software-controller-daemon restart
PIDFile=/var/run/software-controller-daemon.pid
# process recovery is handled by pmon
Restart=no

# cgroup performance engineering
# - software-controller-daemon.service does not provide latency critical service
# - several processes are 100% cpu hog and use significant disk IO
#   (eg, sysinv-app, system CLI, ansible-playbooks, etc)
# - set 1/8th default share
# - set lower IO priority (effective only with 'bfq' scheduler)
CPUShares=128
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target
