Source: cgcs-patch
Section: admin
Priority: optional
Maintainer: StarlingX Developers <StarlingX-discuss@lists.StarlingX.io>
Build-Depends: debhelper-compat (= 13),
 dh-python,
 python3-all,
 python3-setuptools
Build-Depends-Indep:
 python3-keystonemiddleware,
 python3-lxml,
 python3-mock,
 python3-netaddr,
 python3-oslo.config,
 python3-pecan,
 python3-pycryptodome,
 python3-requests-toolbelt,
 python3-sh,
 python3-stestr,
 python3-testtools,
 tsconfig
Standards-Version: 4.5.1
Homepage: https://www.starlingx.io
Rules-Requires-Root: no

Package: cgcs-patch
Architecture: all
Depends: python3-cgcs-patch
Description: StarlingX platform patching
 StarlingX platform patching system

Package: cgcs-patch-controller
Architecture: all
Depends: cgcs-patch
Description: StarlingX platform patching controller
 StarlingX platform patching system controller

Package: cgcs-patch-agent
Architecture: all
Depends: cgcs-patch
Description: StarlingX platform patching agent
 StarlingX platform patching system agent

Package: python3-cgcs-patch
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 python3-keystonemiddleware,
 python3-lxml,
 python3-oslo.config,
 python3-netaddr,
 python3-pecan,
 python3-pycryptodome,
 python3-requests-toolbelt,
 python3-sh,
 tsconfig
Description: StarlingX platfom patching (python3)
 StarlingX platform patching system python libraries
