Source: software-client
Section: admin
Priority: optional
Maintainer: StarlingX Developers <StarlingX-discuss@lists.StarlingX.io>
Build-Depends: debhelper-compat (= 13),
 dh-python,
 python3-all,
 python3-tabulate,
 python3-setuptools,
 python3-wheel
Build-Depends-Indep:
 python3-keystonemiddleware,
 python3-oslo.config
Standards-Version: 4.5.1
Homepage: https://www.starlingx.io
Rules-Requires-Root: no

Package: software-client
Architecture: all
Depends: ${python3:Depends},
 ${misc:Depends},
 python3-argcomplete
Description: StarlingX unified software deployment and management client
 StarlingX unified software deployment and management client.


Package: software-client-wheel
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-wheel
Description: StarlingX unified software deployment and management client
 StarlingX unified software deployment and management client.
 .
 This is the support package for the PEP 427 wheel version of the package,
 required for using pip inside a virtual environment.
